body{background-color: black; color: aliceblue;}
article{background-color: rgb(44, 43, 43); padding: 1.5rem; border-bottom: 1px solid white;}
.resaltado{color: yellow;}
#videojuegos{text-align: center; font-size: 3rem;}
#computadora{text-align: center; font-size: 3rem;}
.referencia{color:rgb(125, 65, 139);}
#ref{font-style: italic; font-size: small;}
*{box-sizing: border-box;}
.ilustracion{display: inline-block; border: 4px solid white;}